<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Linkapedia</title>
    <!-- WTF Wiki -->
    <script src="https://unpkg.com/wtf_wikipedia@latest/builds/wtf_wikipedia.min.js"></script>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <div class="content">
        <div>
            <input type="text" id="si">
            <button id="start">Start</button>
        </div>
        <div id="wikiverse" class="svg-container">
    </div>
</body>
</html>
